footer {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
}

.div-icons {
    display: flex;
    height: 100%;
    margin-bottom: 0;
    margin-left: 20px;
    align-items: center;
    gap: 20px;
}