/* Reset do CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    margin: 0 120px;
}   
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}